body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Flexbox */
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

header, section {
    padding: 10px;
    margin: 5px;
}
article {
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilo responsive */
@media (max-width: 768px) {
    nav ul {
        /*display: flex;*/
        flex-direction: column;
    }

@media (max-width: 600px) {
    nav ul {
        /*display: flex;*/
        flex-direction: column;
    }

    /*nav ul li {
        float: none;
    }*/
}
/* Estilo para videos responsivos */
.responsive-video {
    width: 100%;
    height: auto;
}




